.buorg {
  @include font1;
  background-color: $secondary !important;
  border: 1px solid $secondary !important;
  bottom: 0px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  color: #ffffff;
  left: 0px;
  text-align: center;
  top: unset !important;
  width: 100%;
  z-index: 111111;
  .buorg-buttons{
    margin-top: 10px;
    #buorgul, #buorgig{
      background: transparent !important;
      font-family: 'sofia-pro', sans-serif !important;
      border-radius: 0;
      border: 1px solid rgba($color: $black, $alpha: 0.32) !important;
      font-weight: normal;
      box-shadow: none !important;
      padding: 10px 25px;
      font-size: 14px;
      line-height: 1;
    }
    #buorgul{
      background-color: $primary;
      color: $black;
    }
    #buorgig{
      background-color: $primary;
      color: $black;
    }
  }
  .buorg-pad{
    margin-top: 10px;
    #buorgpermanent{
      font-family: 'sofia-pro', sans-serif !important;
      border-radius: 0;
      border: none;
      font-weight: normal;
      box-shadow: none !important;
      padding: 10px 15px;
      font-size: 14px;
      background-color: $primary !important;
      color: $black;
    }
  }
}