.tml .tml-action-links {
  li{
    padding: 0 !important;
    margin: 0 !important;
    &::before, &::after{
      content: none !important;
    }
  }
  a{
    color: $primary !important;
  }
}
form.pmpro_form .input, form.pmpro_form textarea, form.pmpro_form select, #loginform input[type=text], #loginform input[type=password]{
  max-width: 100%;
}
.tml-login .tml-rememberme-wrap{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  #rememberme{
    min-height: 20px;
  }
}
.tml input, .tml textarea, .tml select{
  background: #f0f0f0;
  border-radius: 0;
  border: 1px solid #f0f0f0;
  box-shadow: none;
  color: #2d1a09;
  min-height: 50px;
  padding: 3px 10px !important;
}
.pmpro_login_wrap{
  hr{
    margin: 0;
    display: none;
  }
}
#loginform{
  margin-bottom: 70px;
  .tml-submit-wrap{
    input[type="submit"]{
      background-color: $primary;
      border-radius: $btn_b_radius;
      border: 2px solid $primary !important;
      color: $white !important;
      cursor: pointer;
      display: inline-block;     
      font-family: 'Gilda Display', sans-serif !important;
      font-size: 14px !important;
      font-stretch: normal!important;
      font-style: normal!important;
      font-weight: 500 !important;
      letter-spacing: 0.2px !important;
      line-height: normal !important;
      margin: 0 !important; 
      max-width: 100%;   
      opacity: 1;
      padding: 12px 20px !important;
      position: relative;
      text-align: center !important;
      text-decoration: none !important;    
      text-transform: none;
      transition: all 0.4s ease;
      &:hover,&:focus,&:active{
        background-color: transparent !important;
        border-color: $primary !important;
        color: $white !important;
        text-decoration: none;
      }
    }
  }
 
  .login-username, .login-password{
    margin-bottom: 10px !important;
    label{
      @include font1;
      display: block;
      font-size: 18px;
      line-height: 1em;
      margin-bottom: 15px;
    }
    input{
      background: #f0f0f0;
      border-radius: 0;
      border: 1px solid #f0f0f0;
      box-shadow: none;
      color: #2d1a09;
      min-height: 50px;
      width: calc(50% - 8px);
      padding: 3px 10px !important;
      &:active,&:focus{
        box-shadow:0 0 4px rgba(0,0,0,.2);
        outline: none;
      }
    }
  } 
  
  .login-submit{
    display: inline-block;
    margin: 0 !important;
    position: relative;
    padding: 0 !important;
    width: auto !important;
    margin-top: 0 !important;   
    #wp-submit, input[type="submit"]{
      background-color: $primary;
      border-radius: $btn_b_radius;
      border: 2px solid $primary !important;
      color: $secondary !important;
      cursor: pointer;
      display: inline-block;     
      font-family: 'Gilda Display', sans-serif !important;
      font-size: 14px !important;
      font-stretch: normal!important;
      font-style: normal!important;
      font-weight: 500 !important;
      letter-spacing: 0.2px !important;
      line-height: normal !important;
      margin: 0 !important; 
      max-width: 100%;   
      opacity: 1;
      padding: 12px 20px !important;
      position: relative;
      text-align: center !important;
      text-decoration: none !important;    
      text-transform: none;
      transition: all 0.4s ease;
      &:hover,&:focus,&:active{
        background-color: $primary !important;
        border-color: $primary !important;
        color: $white !important;
        text-decoration: none;
      }
    }
  }
}