.text-only-block{
  position: relative;
  &.padding-vertical{
    padding: 85px 0 50px;
  }
  &.bg-primary-color{
    background-color: $primary !important;
    .bg-mask::before{
      background-color: $primary !important;
    }
  }
  &.bg-primarylight-color{
    background-color: $primarylight !important;
    .bg-mask::before{
      background-color: $primarylight !important;
    }
  }
  &.bg-secondary-color{
    background-color: $secondary !important;
    .bg-mask::before{
      background-color: $secondary !important;
    }
  }
  &.bg-secondarylight-color{
    background-color: $secondarylight !important;
    .bg-mask::before{
      background-color: $secondarylight !important;
    }
  }
  &.bg-tertiary-color{
    background-color: $tertiary !important;
    .bg-mask::before{
      background-color: $tertiary !important;
    }
  }
  &.bg-tertiarylight-color{
    background-color: $tertiarylight !important;
    .bg-mask::before{
      background-color: $tertiarylight !important;
    }
  }
  &.bg-quaternary-color{
    background-color: $quaternary !important;
    .bg-mask::before{
      background-color: $quaternary !important;
    }
  }
  &.bg-quaternarylight-color{
    background-color: $quaternarylight !important;
    .bg-mask::before{
      background-color: $quaternarylight !important;
    }
  }
  &.bg-white-color{
    background-color: $white !important;
    .bg-mask::before{
      background-color: $white !important;
    }
  }
  &.bg-black-color{
    background-color: $black !important;
    .bg-mask::before{
      background-color: $black !important;
    }
  }
  .bg-mask{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    &::before{
      content: "";
      background-repeat: repeat;
      height: calc(100% + 110px);
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
  /*Light Color Paragraph*/
  &.bg-primary-color,
  &.bg-primarylight-color,
  &.bg-primarydark-color,
  // &.bg-secondary-color, 
  // &.bg-secondarylight-color,
  // &.bg-tertiary-color,
  // &.bg-tertiarylight-color,
  // &.bg-quaternary-color,
  // &.bg-quaternarylight-color,
  &.bg-black-color {
    h2,h3,h4,h5,h6,p,strong,em,ul,ul > li,ol, ol > li,span, blockquote{
      color: $white !important;
      a{
        color: $white !important;
        text-decoration: underline !important;
      }
    }
    blockquote{
      border-color: $white !important;
      p{
        color: $white !important;
      }
    }
    ul, ul.list{
      padding-left: 15px;
      &::before{
        background: $white !important;
      }
    }
  }
  /*end Light Color Paragraph*/

  .col-xl-10, .container-block{
    position: relative;
    p:last-of-type{
      margin-bottom: 0 !important;
    }
    h2,h3,h4,h5,h6{
      color: $text;
    }
    p,strong,em,ul,ul > li,ol, ol > li,span{
      @include font1;
      color: $text; 
    }
    ul,ol{
      ul,ol{
        margin-top: 10px;
      }
    }
    ul, ul.list{
      li{
        &::before{
          background: $text !important;
        }
      }
    }
  }
  .btn-container{
    margin-top: 15px;
    &.left{
      text-align: left !important; 
    }
    &.center{
      text-align: center !important;
    }   
    &.right{
      text-align: right !important; 
    }
  }
  &.aligncenter{
    text-align: center !important;
    p,strong,h1,h2,h3,h4,h5,span{
      text-align: center !important;
    }
  }
  &.alignleft{
    text-align: left !important;
    position: relative;
    p,strong,h1,h2,h3,h4,h5,span{
      text-align: left !important;
    }
  }
  &.alignright{
    text-align: right !important;
    p,strong,h1,h2,h3,h4,h5,span{
      text-align: right !important;
    }
  }
}